.wall {
    background-color:RGB(0,0,255);
    height:30px;
    width:30px;
    position: absolute;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    z-index: -1;
}

.altoid {
    background-color:white;
    height:10px;
    width:10px;
    position: absolute;
    margin:10px 10px 10px 10px;
    border-radius:100%;
    padding:0px 0px 0px 0px;
    z-index: -1;
}

.blankSpace {
    
    background-color:RGB(0,0,0);
    height:30px;
    width:30px;
    position: absolute;
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    z-index: -1;
}
.megaaltoid {
    background-color:white;
    height:16px;
    width:16px;
    position: absolute;
    margin:5px 7px 5px 7px;
    border-radius:100%;
    padding:0px 0px 0px 0px;
    z-index: -1;
}
.joystick {
    background-color:gray;
    height:150px;
    width:150px;
    position:absolute;
    border-radius:100%;
    left: 850px;
    padding:0px 0px 0px 0px'
}
.joystickHandle {
    background-color:red;
    height:100px;
    width:100px;
    position: relative;
    left:25px;
    top: 25px;
    border-radius:100%;
    padding:0px 0px 0px 0px'
}